.SkillsContainer {
	height: fit-content;
	background-color: rgb(10, 25, 47);
	padding-bottom: 5rem;
}

.SkillsTitle {
	color: #c1cbe9;
	letter-spacing: 0.2rem;
	text-align: center;
	padding: 2rem 2rem 0.2rem 2rem;
}

.SkillsTitleUnderline {
	display: flex;
	/* justify-content: center;
	align-items: center; */
	width: 100px;
	height: 2px;
	background-color: rgb(32, 55, 88);
	margin: 0 auto 2.5rem auto;
}
.GridContainerSkills {
	display: grid;
	text-align: center;
	grid-template-columns: repeat(auto-fit, minmax(30%, 1fr));
	grid-row-gap: 25px;
}

.GridContainerSkills > * {
	color: #c1cbe9;
	font-weight: 100;
	letter-spacing: 0.1rem;
}

.GridContainerProjects {
	display: grid;
	text-align: center;
	align-items: center;
	grid-template-columns: auto auto auto;
	grid-row-gap: 3rem;
	overflow: hidden;
}

@media (max-width: 940px) {
	.GridContainerProjects {
		grid-template-columns: auto auto;
	}
}

@media (max-width: 700px) {
	.GridContainerProjects {
		grid-template-columns: auto;
	}
	.GridContainerSkills > * {
		font-size: 16px;
	}
}
